:root  {
    --text-color: #1a1c20;
    --link-color: #3498db;
    --background-color: #eeeff1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "JetBrains Mono", sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    height: 80px;

    .left a {
        color: var(--text-color);
        font-size: 22px;
        font-weight: 600px;
    }
    .right a {
        color: var(--text-color);
        margin: 0 10px;
    }
    .right a:last-child {
        color: var(--background-color);
        background-color: var(--text-color);
        padding: 5px 15px;
        border-radius: 5px;
    }
    .right a span {
        margin-left: 5px;
    }
}

@media (max-width: 700px) {
    /* NAVBAR */
    nav {
        padding: 0 20px;

        .right a {
            font-size: 22px;
        }

        .right a:last-child {
            background-color: transparent;
            color: var(--text-color);
            padding: 0;
        }

        .right a span{
            display: none;
        }
    }
}