:root {
  --text-color: #1a1c20;
  --link-color: #3498db;
  --background-color: #eeeff1;
  --primary-light: #09f;
  --card-bg-color: #ffffff;
  --border-color: #d3d3d3;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  background-color: var(--background-color);
  height: 100dvh;
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark {
  --text-color: #eeeff1;
  --link-color: #09f;
  --background-color: #1a1c20;
  --primary-light: #3498db;
  --card-bg-color: #2b2d31;
  --border-color: #444;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
}
nav .left a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
}
nav .right a {
  color: var(--text-color);
  margin: 0 10px;
}
nav .right a:nth-last-child(2) {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
nav .right a span {
  margin-left: 5px;
}

/* SECTION 1: HERO */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 100px;
  gap: 40px;
}
.hero-section .text {
  flex: 5;
}
.hero-section .text h2 {
  font-size: 45px;
}
.hero-section .text p {
  margin-top: 15px;
}
.hero-section .text .links {
  margin-top: 25px;
}
.hero-section .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease-in-out;
}
.hero-section .text .links a:hover {
  background-color: var(--primary-light);
  color: #fff;
}
.hero-section .headshot {
  flex: 2;
  display: flex;
  justify-content: right;
}
.hero-section .headshot img {
  border-radius: 50%;
  width: 400px;
}

/* SECTION 2: SKILLS */
.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.skills-section h2 {
  text-align: center;
  font-size: 25px;
}
.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}
.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-section .cells .cell {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid var(--border-color);
  background-color: var(--card-bg-color);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}
.skills-section .cells .cell span {
  font-size: 18px;
}

/* SECTION 3: PROJECTS */
.projects-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.projects-section h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project {
  flex-basis: 314px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  background-color: var(--card-bg-color);
  box-shadow: var(--card-shadow);
  border-radius: 8px;
  padding: 15px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
.project .projectImg {
  margin-left: 40px;
  width: 500px;
  height: 400px;
  object-fit: contain;
}
.project h3 {
  margin-top: 10px;
}

.project .technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}
.project .tech {
  gap: 5px;
  display: flex;
  align-items: center;
  width: auto;
  padding: 4px 8px;
  margin: 0;
  border: 1.5px solid var(--border-color);
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}
.project .tech img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  border-radius: 2px;
}
.project .tech span {
  font-size: 12px;
}

.project .project-description {
  margin-top: 10px;
}

.project .project-links {
  margin-top: auto;
  padding-top: 15px;
}
.project .project-links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease-in-out;
}
.project .project-links a:hover {
  background-color: var(--primary-light);
  color: #fff;
}

/* SECTION 4: CONTACT */
.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.contact-section h2 {
  font-size: 35px;
}
.contact-section .group {
  display: flex;
  gap: 20px;
}
.contact-section .group .text {
  flex: 3;
  margin-top: 20px;
}
.contact-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.contact-section .group form input,
.contact-section .group form textarea {
  font-family: "JetBrains Mono", sans-serif;
  border: 2px solid var(--link-color);
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
  font-size: 16px;
  color: var(--text-color);
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.contact-section .group form button {
  font-family: "JetBrains Mono", sans-serif;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: var(--link-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.contact-section .group form button:hover {
  filter: brightness(90%);
}
@media (max-width: 1270px) {

  .project  .projectImg {
    margin-left: 30px;
    width: fit-content;
  }
}
@media (max-width: 850px) {
  .hero-section .text h2 {
    font-size: 30px;
  }

  .project  .projectImg {
    margin-left: 30px;
    width: fit-content;
  }
}

@media (max-width: 740px) {
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-section .headshot img {
    width: 300px;
  }
}

@media (max-width: 720px) {
  nav {
    padding: 0 20px;
  }
  nav .right a {
    font-size: 22px;
  }
  nav .right a:last-child {
    background-color: transparent;
    color: var(--text-color);
    padding: 0;
  }
  nav .right a span {
    display: none;
  }

  .hero-section {
    padding: 0 20px;
  }
  .hero-section .text h2 {
    font-size: 20px;
  }

  .skills-section {
    padding: 0 20px;
  }
  .skills-section .cells .cell span {
    font-size: 16px;
  }

  .projects-section {
    padding: 0 20px;
  }

  .contact-section {
    padding: 0 20px;
  }
  .contact-section .group {
    flex-direction: column;
  }
}